In [7]:
import pandas as pd

data = pd.read_csv('taxi.csv')
data.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [20]:
print(data.describe())
print(data.isnull().sum())
print(data.dtypes)

       Priceperweek    Population  Monthlyincome  Averageparkingpermonth  \
count     27.000000  2.700000e+01      27.000000               27.000000
mean      49.925926  1.680111e+06   11063.259259              107.037037
std       27.627921  6.780307e+04    3416.627944               45.346089
min       15.000000  1.590000e+06    5800.000000               50.000000
25%       27.500000  1.617500e+06    8400.000000               75.000000
50%       40.000000  1.695000e+06   11600.000000              100.000000
75%       75.000000  1.725000e+06   13888.000000              140.000000
max      102.000000  1.800000e+06   16200.000000              200.000000

       Numberofweeklyriders
count             27.000000
mean          160026.074074
std            21301.097303
min           115696.000000
25%           149600.000000
50%           161600.000000
75%           176000.000000
max           192000.000000
Priceperweek              0
Population                0
Monthlyincome             0
Averageparkingpermonth    0
Numberofweeklyriders      0
dtype: int64
Priceperweek              int64
Population                int64
Monthlyincome             int64
Averageparkingpermonth    int64
Numberofweeklyriders      int64
dtype: object

In [25]:
from sklearn.model_selection import train_test_split
x=data.drop('Numberofweeklyriders',axis=1)
y=data['Numberofweeklyriders']

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [26]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
model=LinearRegression()

model.fit(x_train,y_train)
y_predict=model.predict(x_test)
score=r2_score(y_test,y_predict)
print(score)
t_score=model.score(x_train,y_train)
print(t_score)

0.9699324645313085
0.938106403185372

In [28]:
import pickle
pickle.dump(model, open('model.pkl', 'wb'))

In [32]:
input_data=pickle.load(open('model.pkl','rb'))
print(input_data.predict([[40,1700000,10570,80]]))  # Example input, adjust as necessary

[165361.67330802]

e:\ML-DL\env\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(